.products-image{
    height: 80vh;
    width: 30vw;
}
.image-name{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color:navy;
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    color: white;
}
.pro-container{
    background-color: rgba(95, 158, 160, 0.705);
    height: 100vh;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
}
.pro-details{
    height: 100vh;
    width: 60vw;
    position: absolute;
    left: 40vw;
    top: 0;
    background-color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
}