.layout{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    position: relative;
}
.navbar{
position: absolute;
top: 0;
display: flex;

}
.sidebar{
    position: absolute;
    top: 10vh;
    left: 0;
}
.content-container{
    position: absolute;
    top: 10vh;
    left: 14vw;
   position: fixed;
   overflow-y: scroll;
   
    
}
ul{
    padding-inline-start: 0px;
}
.cart-ico{
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 320px)and (min-width: 425px) {
    
    
  }
  @media only screen and (min-width: 320px) and (max-width: 425px) {
    .sidebar-container{
        width: 24vw !important;
        
    }
    .content-container{
        position: absolute !important;
        top: 10vh !important;
        left: 24vw !important;
       position: fixed !important;
       overflow-y: scroll !important;
       width: 76vw!important;
       
       
        
    }
    .data-product {
        height: 16rem;
        width: 11rem!important;
        background-color: rgba(14, 1, 5, 0.774);
        margin: 5px 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 10px;
        row-gap: 12px;
        color: white;
      }
    .navbar{
        position: absolute !important;
        top: 0 !important;
        display: flex !important;
        
        }
  }
  